@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Barra de navegação */
nav.sidebar {
    width: 5vw;
    height: 100vh;
    background-color: #e6e6e6;
    padding: 40px 0 40px 1%;
    border-left: 5px solid #ff0000;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 10px;
    overflow: hidden;
    transition: .2s;
    z-index: 1;
    -webkit-box-shadow: 6px 0px 41px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 0px 41px -13px rgba(0,0,0,0.75);
box-shadow: 6px 0px 41px -13px rgba(0,0,0,0.75);
}

nav.sidebar.expand {
    width: 300px; 
}

.btn-lateral {
    width: 100%;
    padding-left: 10px;
}

.btn-lateral > i {
    color: #000000;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}


ul li.menu-item {
    transition: .1s;
}

ul li.menu-item:hover {
    border-radius: 5px;
    background-color: #ff0000;
}

.menu-item a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 2.25rem;
}

ul li.menu-item a .txt-link {
    margin-left: 30px;
}

ul li.menu-item a .icon > i {
    font-size: 20px;
    margin-left: 10px;
}

/* Barra de navegação (fim)*/


/* Barra no topo */ 

.top-bar {
    height: 20vh;
    position: fixed;
    width: 100vw;
    z-index: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 18px 41px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 18px 41px -13px rgba(0,0,0,0.75);
box-shadow: 0px 18px 41px -13px rgba(0,0,0,0.75);
}

.top-bar ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    line-height: 2rem;
    list-style-type: none;
    background-color: #ff0000;
    height: 5vh;
    width: 100%;
}

.top-bar ul li {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.top-bar ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}

.top-bar ul li a:hover {
    color: #6573a3;
    text-decoration: none;
    transition: 0.2s;
}

.top-bar ul li a::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.top-bar ul li a:hover::after {
    width: 100%;
    transition: 0.3s;
}

.top-bar ul li i:hover{
    color: #6573a3;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}

#logo-img {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    margin-left: 5rem;
}

main {
    display: flex;
    flex-direction: column;
}

#main-content {
    background-color: #e9e9e9;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
}

#test {
    display: flex;
    width: 95vw;
    height: 80vh;
    flex-direction: column;
}

.parallax {
    background-image: url("https://images.pexels.com/photos/936722/pexels-photo-936722.jpeg?cs=srgb&dl=pexels-essow-k-936722.jpg&fm=jpg");
  
    min-height: 500px; 
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Carrosel */

  #posit {
  }

  .carousel {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 60%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    height: 60vh;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

#gymkhana {
    width:70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}