@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
}
/* Barra de navegação */
nav.sidebar {
    width: 5vw;
    height: 100vh;
    background-color: #e6e6e6;
    padding: 40px 0 40px 1%;
    border-left: 5px solid #ff0000;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 10px;
    overflow: hidden;
    transition: .2s;
}

nav.sidebar.expand {
    width: 300px; 
}

.btn-lateral {
    width: 100%;
    padding-left: 10px;
}

.btn-lateral > i {
    color: #000000;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}


ul li.menu-item {
    transition: .1s;
}

ul li.menu-item:hover {
    border-radius: 5px;
    background-color: #ff0000;
}

.menu-item a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 2.25rem;
}

ul li.menu-item a .txt-link {
    margin-left: 30px;
}

ul li.menu-item a .icon > i {
    font-size: 20px;
    margin-left: 10px;
}

/* Barra de navegação (fim)*/
